name: Renovate
on:
  workflow_dispatch:
  schedule:
    - cron: "30 */6 * * *"
jobs:
  renovate:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Self-hosted Renovate
        uses: renovatebot/github-action@66387ab8c2464d575b933fa44e9e5a86b2822809 # v44.2.4
        with:
          configurationFile: .github/renovate.json5
          token: ${{ secrets.KUBEARCHITECT_TOKEN }}
        env:
          RENOVATE_AUTODISCOVER: true
          RENOVATE_PLATFORM: github
          RENOVATE_FORK_PROCESSING: enabled
