name: Renovate
on:
  workflow_dispatch:
  schedule:
    - cron: "30 */6 * * *"
jobs:
  renovate:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Self-hosted Renovate
        uses: renovatebot/github-action@a3c115cd6676c8a5bc72f9715f108759e570daf5 # v43.0.19
        with:
          configurationFile: .github/renovate.json5
          token: ${{ secrets.KUBEARCHITECT_TOKEN }}
        env:
          RENOVATE_AUTODISCOVER: true
          RENOVATE_PLATFORM: github
          RENOVATE_FORK_PROCESSING: enabled
