name: Renovate
on:
  workflow_dispatch:
  schedule:
    - cron: "30 */6 * * *"
jobs:
  renovate:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Self-hosted Renovate
        uses: renovatebot/github-action@957af03d760b2c87fc65cb95628f6d5f95d9c578 # v46.0.0
        with:
          configurationFile: .github/renovate.json5
          token: ${{ secrets.KUBEARCHITECT_TOKEN }}
        env:
          RENOVATE_AUTODISCOVER: true
          RENOVATE_PLATFORM: github
          RENOVATE_FORK_PROCESSING: enabled
