name: Renovate
on:
  workflow_dispatch:
  schedule:
    - cron: "30 */6 * * *"
jobs:
  renovate:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Self-hosted Renovate
        uses: renovatebot/github-action@c91a61c730fa166439cd3e2c300c041590002b1d # v44.0.3
        with:
          configurationFile: .github/renovate.json5
          token: ${{ secrets.KUBEARCHITECT_TOKEN }}
        env:
          RENOVATE_AUTODISCOVER: true
          RENOVATE_PLATFORM: github
          RENOVATE_FORK_PROCESSING: enabled
